.nav_container {
    background-color: rgba(25, 25, 25, 0.5);
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid black;

    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;

    white-space: nowrap;
}

.fixedElement {
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
}

.nav_cursor {
    background-color: rgb(51, 255, 0);
    color: rgb(51, 255, 0);
    animation: cursor_blink 1s infinite;
    display: inline-block;
}