.project_list {
    margin-top: 150px;
}

.header {
    /* color: #C19C04; */
    color: #FF7400;
}

#projects_header {
    margin-left: 10px;
    margin-bottom: 100px;
    text-align: center;
}

.project_entry {
    border: 0.05em solid whitesmoke;
    border-radius: 5px;
    margin-bottom: 75px;
    background-color: rgb(15, 15, 15);

    margin-left: 25%;
    margin-right: 25%;
    /* min-width: 1000px; */

    display: flex;

    padding: 10px;
    transition: all 0.25s ease;
    /* box-shadow: 0px 0px 15px 1px rgb(184, 35, 35); */

    overflow: hidden;

    /* height: 125px; */

    /* transition: height .5s;
    height: 175px; */
}

.project_entry:hover {
    /* box-shadow: 0px 0px 10px 5px #C19C04; */
    box-shadow: 0px 0px 20px 5px silver;
    /* animation: project_shadow 5s infinite; */
}

.expand_content {
    display: none;
}

.preview_content {
    float: right;
    display: initial;
}

.preview_content img {
    height: 250px;
    -webkit-mask-image:-webkit-gradient(linear, right top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.project_entry p {
    color: white;
}

.project_left {
    max-width: 49%;
    max-height: 100%;
    float: left;
    margin-left: 50px;
    /* border: 0.05em solid red; */
}

.project_right {
    max-width: 45%;
    margin-left: auto; 
    margin-right: 0px;

    /* border: 0.05em solid red; */
}

.project_image {
    max-width: 75%;
    align-self: right;
    margin: 5px;
    margin-right: 50px;

    border: 0.05em solid rgba(51, 255, 0, 0.5);
    border-radius: 10px 0px 10px 0px;
    float: right;

    transition: all 0.25s ease;
}

.project_image:hover {
    /* transform: scale(1.5); */
}

#collar {
    /* float: right; */
}

#vr_abstract {
    max-width: 500px;
    margin-top: 20px;
}

#electric_vr h4 {
    margin-top: 50px;
}

@keyframes project_shadow {
    0% { box-shadow: 0px 0px 30px 5px red; }
    16.6% { box-shadow: 0px 0px 30px 5px orange; }
    33.26% { box-shadow: 0px 0px 30px 5px yellow; }
    49.86% { box-shadow: 0px 0px 30px 5px green; }
    66.46% { box-shadow: 0px 0px 30px 5px blue; }
    83.06% { box-shadow: 0px 0px 30px 5px indigo; }
    100% { box-shadow: 0px 0px 30px 5px violet; }
}