@font-face {
    font-family: 'consolas';
    src: url('../Fonts/Consolas-Font/CONSOLA.TTF');
}

body {
    color: rgb(51, 255, 0);
    background-color: rgb(25, 25, 25);
    font-family: 'consolas', Arial, sans-serif;
}

/* .container {
    padding-left: 10px;
    padding-top: 5px;
} */

/*.container {
    position: fixed;
    top: 45%;
    left: 51%;
    -webkit-transform: translate(-45%, -50%);
    transform: translate(-45%, -50%);
    width: 30%;
    white-space: nowrap;

    display: inline;

    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;
    /*border: 0.05em solid red;
} */

.container {
    position: fixed;
    top: 40%;
    left: 52%;
    width: 25%;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    white-space: nowrap;

    /*border: 0.05em solid red;*/
}

#ConsoleDisplay {
    display: inline;
    user-select: none;
    vertical-align: bottom;
}

a {
    text-decoration:none;
}


#selection {
    display: inline-block;
    user-select: none;
    white-space: nowrap;
}

.cursor {
    background-color: rgb(51, 255, 0);
    color: rgb(51, 255, 0);
    animation: cursor_blink 1s infinite;
    display: inline-block;
}

.info_button {
    background-color: #39ff14;
    color: black;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    border: 0.05em solid transparent;

    /*
    background-color: #39ff14;
    opacity: 0.9;
    background-image: linear-gradient(45deg, #06c000 50%, #08ff00 50%);
    background-size: 3px 3px;
    */
}

.info_button:hover {
    border: 0.05em solid #39ff14;
    background-color: transparent;
    color: #39ff14;
}

#github:hover {
    border: 0.05em solid #333;
    background-color: #333;
    color: white;
}

#linkedin:hover {
    border: 0.05em solid #0072b1;
    background-color: #0072b1;
    color: white;
}

#discord:hover {
    border: 0.05em solid #5865F2;
    background-color: #5865F2;
    color: white;
}

#quote:hover {
    animation: shadow 1s infinite;
}

.navbar {
    display: inline-block;
}

.background-blur {
    backdrop-filter: blur(10px);
}

@keyframes cursor_blink2 {
    0% { background-color: black; color: black;}
    30% { background-color: #39ff14; color: #39ff14; }
    60% { background-color: #39ff14; color: #39ff14; }
    100% { background-color: black; color: black;}
}

@keyframes cursor_blink {
    0% {opacity: 0%;}
    30% { opacity: 100%; }
    60% { opacity: 100%; }
    100% { opacity: 0%; }
}

@keyframes shadow {
    0% { box-shadow: 4px 4px red; }
    16.6% { box-shadow: 4px 4px orange; }
    33.26% { box-shadow: 4px 4px yellow; }
    49.86% { box-shadow: 4px 4px green; }
    66.46% { box-shadow: 4px 4px blue; }
    83.06% { box-shadow: 4px 4px indigo; }
    100% { box-shadow: 4px 4px violet; }
}