.cursor {
    display: none;
}

.info_button {
    border-radius: 2px;
    background-color: #39ff14;
}

.info_button:hover {
    border: 0.05em solid #39ff14;
    background-color: transparent;
    color: #39ff14;
}

.content {
    position: fixed;
    top: 40%;
    left: 52%;
    width: 25%;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    white-space: nowrap;

    /*border: 0.05em solid red;*/
}