#error_nav {
    margin: 0;
    position: absolute;
    left: 25%;
    padding: 10px;
    width: fit-content;
    /*border: 0.05em solid red;*/
}

.container {
    white-space: normal;
    /*border: 0.05em solid red;*/
}