@font-face {
    font-family: 'consolas';
    src: url('Consolas-Font/CONSOLA.TTF');
}

body {
    color: rgb(51, 255, 0);
    background-color: rgb(25, 25, 25);
    font-family: 'consolas', Arial, sans-serif;
}

.container {
    padding-left: 10px;
    padding-top: 5px;
}

#ConsoleDisplay {
    display: inline;
    user-select: none;
    vertical-align: bottom;
}

a {
    text-decoration:none;  
}


#selection {
    display: inline-block;
}

#cursor {
    background-color: rgb(51, 255, 0);
    color: rgb(51, 255, 0);
    animation: cursor_blink 1s infinite;
    animation-duration: 1s;
    display: inline-block;
}

.info_button {
    background-color: #39ff14;
    color: black;
    display: inline-block;
    padding: 5px;
}

.info_button:hover {
    background-color: red;
}

@keyframes cursor_blink2 {
    0% { background-color: black; color: black;}
    30% { background-color: #39ff14; color: #39ff14; }
    60% { background-color: #39ff14; color: #39ff14; }
    100% { background-color: black; color: black;}
}

@keyframes cursor_blink {
    0% {opacity: 0%;}
    30% { opacity: 100%; }
    60% { opacity: 100%; }
    100% { opacity: 0%; }
}